<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
<!--          <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">-->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Iniciar Sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="username">Nombre de Usuario Administrador</label>
                <input id="username" type="text" class="form-control" formControlName="username" required autofocus maxlength="50">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                  El nombre de usuario es inválido
                </div>
              </div>
              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label class="text-muted" for="password">Contraseña</label>
                </div>
                <input id="password" type="password" class="form-control" formControlName="password" required maxlength="50">
                <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched" class="text-danger">
                  La contraseña es requerida
                </div>
              </div>

              <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary w-100">
                  Ingresar
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-outline-success w-100 mt-2" [routerLink]="['/reservistas']">
            Ir al menú de reservistas
          </button>
        </div>

        <div class="text-center mt-5 text-muted">
          Copyright &copy; {{ 2024 }} &mdash; Desarrollado por Adrian Hoyos
        </div>
      </div>
    </div>
  </div>
</section>
