@if (hayToken) {
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full"
             viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Administrador</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores']">Inicio</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/hoteles']">Gestión de
          Hoteles</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/tipos-habitacion']">Gestión
          Tipos Habitación</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/ciudades']">Gestión
          Ciudades</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/habitaciones']">Gestión
          de Habitaciónes</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/reservas']">Gestión
          de Reservas</a>
        <a class="mr-5 hover:text-white cursor" routerLinkActive="active" (click)="cerrarSesion()">Cerrar Sesión</a>
      </nav>
    </div>
  </header>
} @else {
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full"
             viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Reservista</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['reservistas']">Inicio</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['reservistas/buscar']">Buscar Hoteles</a>
        <a class="mr-5 hover:text-white" routerLinkActive="active" [routerLink]="['administradores/login']">Ingresar como administrador</a>
      </nav>
    </div>
  </header>
}
